<section class="center">

  <div class="page-header intro">
    <h2>Companies</h2>
  </div>

  <div class="pull-left button-add">
    <a ng-href="/#/companies/new" class="btn btn-primary">Add Company</a>
  </div><br>

  <table class="table-striped">
    <thead>
      <tr>
        <th id='cell'>ID</th>
        <th id='cell'>Name</th>
        <th id='cell'>Budget</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="company in compCtrl.companies">
        <td id='cell'>{{ company.id }}</td>
        <td id='cell'>
          <span editable-text="company.name"
          e-name="name"
          e-form="rowform"
          e-required>
          {{ company.name || 'empty' }}
        </span>
      </td>
      <td id='cell'>
        <span editable-text="company.budget"
        e-name="budget"
        e-form="rowform"
        e-required>
        {{ company.budget || 'empty' }}
      </span>
    </td>
    <td style="white-space: nowrap">
      <form editable-form name="rowform"
      onaftersave="compCtrl.update($data, company.id)"
      ng-show="rowform.$visible"
      class="form-buttons form-inline"
      shown="inserted == company">
      <button type="submit" class="btn btn-primary">
        Save
      </button>
      <button type="button" ng-click="rowform.$cancel()" class="btn btn-default">
        Cancel
      </button>
    </form>
    <div class="buttons" ng-show="!rowform.$visible">
      <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
      <button class="btn btn-danger" ng-click="compCtrl.delete(company.id)">Delete</button>
    </div>
  </td>
</tr>
</tbody>
</table>
</section>

