<section id='departments'>
	<div ng-repeat='company in aboutCtrl.companies' class='department'>
		<div class='depContents' id='{{company.name}}'>
			<h3>{{company.name}}</h3>
			<p>{{company.description}}</p>
		</div>
	</div>
</section>