<!-- Flash Messages -->

<div id="flash-message" ng-show='userCtrl.activeflashMessageTab(2)'>
	<p>Welcome {{ userCtrl.currentUser }}</p>
</div>
<div id="flash-message" ng-show='userCtrl.activeflashMessageTab(3)'>
	<p>Sorry something went wrong, please try again.</p>
</div>
<div id="flash-message" ng-show='userCtrl.activeflashMessageTab(4)'>
	<p>Thanks {{ userCtrl.oldUser }}, see you soon.</p>
</div>