<!-- header -->
<nav role="navigation">
  <div class="navbar-header">
    <img href="/#/" src="<%= asset_path('logo.png')%>" alt="Atlantic Group"/>
  </div>
  <ul class="nav navbar-nav navbar-right">
		<li><a href="#/">Home</a></li>
		<li><a href="#about">About Us</a></li>
		<li><a href="#portfolio">Portfolio</a></li>
		<li><a href="#logIn">Log In</a></li>
		<li><a href="#contact">Contact Us</a>
  </ul>
</nav>

