<!-- header -->
<nav role="navigation">
  <div class="navbar-header">
    <a class="image-brand" href="#/">
      <img src="<%= asset_path('graphics.png')%>" alt="Graphics"/>
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
		<li><a href="#/">Home</a></li>
<!-- 		<li><a href="#about">About Us</a></li>
		<li><a href="#portfolio"></a>Portfolio</li>
		<li><a href="#userLog">Log In</a></li>
		<li><a href="#contact">Contact Us</a> -->
  </ul>
</nav>

