<!-- header -->
<nav role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Atlantic Graphics</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
		<li><a href="#/">Home</a></li>
		<li><a href="#about">About Us</a></li>
		<li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#contact">Contact Us</a>
		<li><a href="#userLog">Client Log In</a></li>
  </ul>
</nav>