/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";

 header {
  height: 4.5em;
  margin-bottom: 1.5em;
  background-color: #303031;
 }

 #login-logout {
  text-align: right;
 }

 .navbar-right {
    margin-right: 4em;
    margin-top: 1.2em;
 }

.navbar-header {
  padding: 1.5em 5em;
}

nav li:last-child a {
	border-right: 0;
}

 .nav > li > a:hover, .nav > li > a:focus {
 	text-decoration: none;
 	background-color:#E2E3E4;
 	color: #040471;
 	border-radius: 4px;
 }

 .nav > li > a {
  text-decoration: none;
  color: #E2E3E4;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 15px;
  border-right: 1px solid #576979;
  line-height: 1px;
 }

.center {
  width: 675px;
  margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #303031;
    border-color: #636566;
    font-weight: 100;
    font-size: medium;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-danger {
    color: #fff;
    font-weight: 100;
    font-size: medium;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF; 
  background-color: #606162; 
  border-color: #6E6E6F; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 

 
.btn-primary .badge { 
  color: #FFFFFF; 
  background-color: #606162; 
}
