<!DOCTYPE html>
<html ng-app="StockOrderApp">

<head>
	<title>Grapics</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<script src="devise.js"></script>
</head>	

<div ng-controller='UserController as userCtrl' ng-switch on="userCtrl.admin()">
  <div ng-switch-when="true">
    <header ng-include="'components/adminNavbar.html'"></header> 
  </div>
  <div ng-switch-default>
    <header ng-include="'components/navbar.html'"></header>	
  </div>
</div>

<body>
	<div ng-view></div>
</body>

</html>