<!DOCTYPE html>
<html ng-app="StockOrderApp">

<head>
	<title>Grapics</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<script src="devise.js"></script>
</head>	

<header ng-include="'components/navbar.html'">
</header>

<header ng-include="'components/userNavbar.html'">
</header>

<body>
	<div ng-view></div>
</body>

</html>